.footer {
    padding-top: 20px;
    background-color: rgb(52, 48, 97);
    color: honeydew;
    height: 130px;
    text-align: center;
    position: fixed;
    margin-top: -100px;
    clear: both;
    border-top: 2px dotted honeydew;
    padding-bottom: 30px;
}