img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 300px;
}
.aboutmeMain {
    background-image: url(../../Images/coding.jpg);
    height: 1000px;
    color: rgb(220, 219, 248);
}
p {
  height: 700px;
}
  h1 {
    font-family: 'Patrick Hand', cursive;
  }
  h5 {
    font-family: 'Patrick Hand', cursive;
  }