h1 {
font-family: 'Patrick Hand', cursive;
}
h3 .subtitle{
font-family: 'Patrick Hand', cursive;
}
.row {
height: 100px;
width: 100%
}
.projects {
background-image: url(/monochrome.png);
background-size: 15%;
background-repeat: repeat;
background-attachment: fixed;
}
.container {
display: grid;
grid-template-columns: 1fr;
}
header {
margin-top: 0;
padding: 0;
}
.container-fluid {
padding-top: 100px;
margin-left: 200px;
}
@media screen and (max-width: 768px) {
  body {
    background-color: #333;
  }
  .wrapper {
    width: 600px;
  }
}
@media screen and (max-width: 480px) {
  body {
    background-color: purple;
  }
  .wrapper {
    width: 600px;
  }
}
.portfolio-items-wrapper {
display: grid;
grid-template-columns: 1fr 1fr 1fr;

}
.portfolio-item-wrapper {
position: relative;
width: 100%;
margin: 50px auto 10px auto;
box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
padding: 20px;
}
.portfolio-img-background {
height: 350px;
width: 100%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.img-text-wrapper {
position: absolute;
top: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 80%;
text-align: center;
padding-left: 10px;
padding-right: 10px;
}
.logo-wrapper img {
width: 30%;
margin-bottom: 60px;

}
.img-text-wrapper .subtitle {
transition: 0.5s;
font-weight: 600;
color: transparent;
font-size: 30px;
}
.img-text-wrapper:hover .subtitle {
font-weight: 600;
color: rgb(88, 66, 211);
font-size: x;
/* font-size: 30px; */
padding-bottom: 20px;
}
.img-darken {
transition: 0.5s;
filter: brightness(80%);
}
